.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-route {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: #ff0;
}
.con{
  height: 400px;
}
.con > ul{
  width: 400px;
  height: 200px;
  background: #ccc;
  margin: 0 auto;
} 
.con > content{
  width: 200px;
  height: 200px;
  color: #f00;
}
.con > ul li{
  float: left;
  margin-left:40px; 
  list-style: none;
}
/* .App-route ul{
  height: 30px;
  list-style: none;
  margin: 20px;
}
.App-route ul li:nth-child(1){
  float: left;
}
.App-route ul li:nth-child(2){
  float: right;
} */
.App-content{
  text-align: center;
  width: 400px;
  height: 250px;
  background: #f00;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
