.ulList{
    margin-top:0.5rem; 
    height: 4rem;
    width: 100%;
    /* margin: 0.5rem; */
    /* background: #f00; */
}
.ulList li{
    float: left;
    margin-left: 5px;
}
.ulList img{
    width: 2rem;
    height: 2rem;
}
.act{
    width: 2rem;
    /* padding-top: 0.5rem; */
    height: 3.2rem;
    background: #fff;
}